body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#logo{
  width: 180px;
  height: 90px;
}


#search_bar {
  width: 50vw;
  margin: 0 auto 0 auto;
  background: #ffb800;
  min-height: 55px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin-bottom: 20px;
  z-index: 100;
}

#search_bar input{
  width: 90%;
}

.btn-primary{
  background-color: #ffb800;
  border-color: #ffb800;
  color:black;
}

.btn-primary:hover{
  background-color: #ffb820;
  border-color: #ffb800;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem #ffb800;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #ffb800;
  border-color: #ffb800;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #ffb800;
  border-color: #ffb800;
}

.popup-overlay {
  /*Hides pop-up when there is no "active" class*/
  visibility: hidden;
  position: absolute;
  background: #ffffff;
  border: 3px solid #666666;
  width: 60%;
  height: 60%;
  left: 33%;
}

.popup-overlay.active{
visibility:visible;
}
  
.popup-content.active {
visibility:visible;
}

#map{
  width: 60%;
  height: 400px;
}

@media (min-width: 1280px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

  @media (min-width: 1024px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }

@media (max-width: 578px) {
  #sidebar-wrapper{
    display: none;
    min-height: 0;
  }

  #search_bar {
    width: 100vw;
}
}
